<!DOCTYPE html>
<html lang="pt-br" xmlns:th="thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="thymeleaf.org ">
<head th:replace="~{base :: head}"></head>


<body id="page-top">
<div th:replace="~{base :: cabecalho}"></div>
<section id="portfolio" class="portfolio">
    <div th:each="pedido : ${pedidos}" class="container" style="margin-top: 50px; position: center">
        <div class="container">
            <div class="row row-cols-3 row-cols-md-2 g-4">
                <div class="col-1">
                    <div class="card" style="width: 25rem;">
                        <th:block th:switch="${#strings.toString(pedido.status)}">
                            <div th:case="TODOS" class="card-header alert-primary" th:text="${pedido.nomeProduto}">Card title</div>
                            <div th:case="AGUARDANDO" class="card-header alert-warning" th:text="${pedido.nomeProduto}">Card title</div>
                            <div th:case="APROVADO" class="card-header alert-success" th:text="${pedido.nomeProduto}">Card title</div>
                            <div th:case="ENTREGUE" class="card-header alert-info" th:text="${pedido.nomeProduto}">Card title</div>
                        </th:block>
                        <img th:src="${pedido.urlImagem}" class="card-img-top">
                        <div class="card-body">

                            <a>Data de Entrega: <p class="card-text" th:text="${#temporals.format(pedido.data, 'dd/MM/yyyy')}"></p></a>
                            <a>Valor Negociado: <p class="card-text" th:if="${pedidoNegociado} != null" th:text="${'€' + #numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}"></p></a>
                            <a>Descrição do Produto: <p class="card-text" th:text="${pedido.descricao}"></p></a>
                            <a th:href="${pedido.urlProduto}" style="color: #e83e8c">Url do Produto</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<script th:src="@{/js/cssandjs/jquery.js}"></script>
<script th:src="@{/js/cssandjs/freelancer.js}"></script>
<script th:src="@{/js/cssandjs/bootstrap.js}"></script>
<!--    <script src="../static.js.cssandjs/js/bootstrap.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>-->
<!--    <script src="../static.js.cssandjs/js/freelancer.js"></script>-->
</body>
</html>